# Bu dosya referans ayarlardir. Motor .env dosyasini otomatik okumaz;
# Windows PowerShell'de calistirmadan once asagidaki degiskenleri ayarlayin:
#   $env:BIST_PCAP_PATH = 'C:/.../itch-pri-20260427.pcap'
#   $env:BIST_DB_CONN = 'dbname=bist_lob_db host=localhost port=5432 user=postgres'
#   $env:PGPASSWORD = 'parolaniz'

# BIST_PCAP_PATH=C:/path/to/itch-pri-20260427.pcap
# BIST_DB_CONN=dbname=bist_lob_db host=localhost port=5432 user=postgres
# PGPASSWORD=parolaniz
